@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
header .nav-bar {
  display: flex;
  gap: 2.5rem;
}
header .nav-bar__element {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--very-dark-blue);
}

main {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  align-items: center;
  gap: 3rem;
}
main .hero__title {
  color: var(--very-dark-blue);
  font-size: 3.5rem;
  line-height: 1.3;
  margin-bottom: 1.7rem;
}
main .hero__subtitle {
  color: var(--very-dark-blue);
  margin-bottom: 1.7rem;
}
main .input {
  width: 50%;
  margin-right: 1rem;
  padding: 1.2rem;
  border-radius: 0.2rem;
  border: 1.5px solid var(--very-dark-blue);
}
main .cta-started {
  border: none;
  border-radius: 0.2rem;
  padding: 1.35rem 4.5rem;
  font-weight: 700;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  transition: all 0.3s;
}
main .cta-started:hover,
main .cta-started:active {
  cursor: pointer;
  opacity: 0.7;
}
main .hero__img {
  max-width: 100%;
}

.content {
  position: relative;
  overflow: hidden;
  padding: 13rem 0;
}
.content__background {
  position: absolute;
  left: -90%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280%;
  height: 100%;
  z-index: -1;
}
.content__title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.content__subtitle {
  margin-bottom: 2rem;
}
.content__img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 3rem;
}

.content__more {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}
.content__more__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--moderate-cyan);
  border-bottom: 1px solid var(--moderate-cyan);
  margin-bottom: 3rem;
}

.content__testimonial {
  color: var(--very-dark-blue);
  width: 70%;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 3rem;
}
.content__testimonial .quotes {
  margin-bottom: 1rem;
}
.content__testimonial__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content__testimonial__profile .name {
  font-size: 1.4rem;
  font-weight: 700;
}
.content__testimonial__profile .job {
  font-size: 1.2rem;
}
.content__testimonial__desc {
  margin-bottom: 1.5rem;
}
.content__testimonial .testimonial__img {
  width: 4.5rem;
  border-radius: 50%;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.cta {
  background-color: var(--desaturated-blue);
  padding: 7rem 0;
}
.cta__title {
  color: var(--light-grayish-blue);
  margin-bottom: 1.5rem;
}
.cta__desc {
  color: var(--light-gray);
}
.cta form {
  display: flex;
  flex-direction: column;
}
.cta input {
  width: 40rem;
  display: block;
  padding: 1.2rem;
  border-radius: 0.2rem;
  border: 1.5px solid var(--very-dark-blue);
  margin-bottom: 1rem;
}
.cta .cta-started {
  width: 50%;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  transition: all 0.3s;
}
.cta .cta-started:hover,
.cta .cta-started:active {
  cursor: pointer;
  opacity: 0.7;
}

.footer {
  background-color: var(--very-dark-blue);
  padding: 7rem 0;
}
.footer__logo {
  filter: grayscale(100%);
  margin-bottom: 1.5rem;
}
.footer a,
.footer p {
  color: var(--light-grayish-blue);
  text-decoration: none;
}

.info {
  display: flex;
  gap: 18%;
}
.info__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info__column__flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info__column__flex img {
  width: 1.5rem;
  height: 1.5rem;
}
.info__row {
  display: inline-flex;
  gap: 1rem;
}
.info a {
  display: inline;
}
.info a:hover,
.info a:active {
  color: var(--bright-blue);
  opacity: 0.6;
}

.social {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 0.5em;
  border-radius: 50%;
  transition: all 0.25s;
}
.social i {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

.footer__logo {
  width: 166px;
  height: 49px;
}

@media only screen and (max-width: 1024px) {
  .content__testimonial {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  header {
    padding-bottom: 4rem;
  }

  main {
    grid-template-columns: 1fr;
    text-align: center;
  }
  main .text {
    order: 2;
  }
  main .hero__img {
    max-width: 80%;
  }

  .content {
    padding: 8.5rem 0;
  }
  .content .content__background {
    top: 8%;
  }

  .wrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .wrapper .text {
    text-align: center;
    order: 2;
  }
  .wrapper .content__image {
    display: flex;
    justify-content: center;
  }
  .wrapper .content__img {
    max-width: 80%;
  }
  .wrapper .content__more {
    justify-content: center;
  }
  .wrapper .content__testimonial {
    text-align: start;
    margin: 0 auto;
    max-width: 80%;
    padding: 4rem 3rem;
  }

  .grid {
    text-align: center;
    flex-direction: column;
  }

  .cta form {
    align-items: center;
  }
  .cta .cta-started {
    width: 40rem;
    padding: 1.5rem 0;
  }

  .footer {
    padding: 5rem 0 2rem 0;
  }

  .info {
    flex-direction: column;
    gap: 4rem;
  }
  .info__column {
    gap: 2rem;
  }
  .info__row {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 426px) {
  header .nav-bar {
    gap: 1rem;
  }

  .logo,
.footer__logo {
    width: 10rem;
    height: auto;
  }

  main .input {
    width: 90%;
    margin: 1rem auto;
  }
  main .cta-started {
    width: 90%;
  }

  .wrapper .content__testimonial {
    max-width: 100%;
  }
}
@media only screen and (max-width: 376px) {
  .container {
    max-width: 90%;
  }

  .cta input {
    max-width: 80%;
  }

  .cta-started {
    max-width: 80%;
  }

  .footer {
    padding: 5rem 3.5rem 2rem 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */